.list {
  position: absolute;
  font-family: "Poppins";
  top: 8rem;
  padding-left: 2rem;
  padding-right: 1rem;
  
  &__main__heading {
    text-transform: lowercase;
    font-size: 4.5rem;
    color: $primary-red;
    letter-spacing: .7rem;
    font-weight: 600;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    margin-right: -3.5rem;
    margin-bottom: 2rem;
    display: inline-block;
  }

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__item {

    &--link {
      text-decoration: none;
      font-family: 'Poppins';
      font-weight: bold;
      margin-left: .3rem;
      color: $primary-red;

      &:hover,
      &:visited,
      &:active {
        color: $primary-red;
        text-decoration: none;
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;

    &--text {
      margin-top: .5rem;
      color: $primary-red;
      font-size: 2.3rem;
      letter-spacing: .1rem;
      font-weight: 200;
    }

    &--circle {
      height: 3.4rem;
      width: 3.4rem;
      border: 1.5px solid $primary-red;
      border-radius: 50%;
      text-align: center;
      margin-right: 1.3rem;
    }

    &--number {
      font-size: 2rem;
      font-weight: 200;
      font-family: 'Poppins';
      color: $primary-red;
    }

    &--circles {
      height: 3.4rem;
      width: 3.4rem;
      border: 1.5px solid $primary-green;
      border-radius: 50%;
      text-align: center;
      margin-right: 1.3rem;
    }

    &--numbers {
      font-size: 2rem;
      font-weight: 200;
      font-family: 'Poppins';
      color: $primary-green;
    }
  }

  &__description {
    margin-top: 1.5rem;
    color:#d0d0d0;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 200;
  }

  &__link {
    text-transform: lowercase;
    font-size: 2.2rem;
    color: $primary-red;
    letter-spacing: .2rem;
    text-decoration: none;

    &:hover,
    &:visited,
    &:active {
      color: $primary-red;
      text-decoration: none;
    }
  }
}
