.chat {
  position: absolute;
  bottom: 0%;
  height: 93%;
  width: 100%;
  padding: 5px 10px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &--avatar {
      width: 4rem;
      border-radius: 50%;
    }

    &--text {
      color: $primary-grey;
      font-family: 'Poppins';
    }
  }

  &__messages {
    height: 81%;
    overflow-y: scroll;
  }

  &__input {
    position: absolute;
    bottom: 0%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto 1rem auto;

    &--text {
      min-width: 85%;
      background-color: rgb(235, 235, 235);
      font-size: 1.4rem;
      font-family: 'Poppins';
      padding: .5rem;
    }
    
    &--icon {
      color: $primary-red;
      cursor: pointer;
    }
  }
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: $primary-red;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-red;
}
