.match__container {
  position: absolute;
  top: 7%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;

  @include respond(tab-port) {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond(desktop) {
    width: 45%;
  }

  @include respond(max-desktop) {
    width: 35%;
  }
}

.match {
  background-color: rgba(99, 98, 98, 0.05);
  box-shadow: 0 1rem 1rem rgba(0,0,0, .1);
  padding:8px;
  margin: 5px;
  border-radius: 1rem;
  
  &__header {
    display: flex; 
    align-items: center;

    &--avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }

  &__details {
    font-family: 'Poppins';
    &--text{
      color: $primary-grey;
    }

    &--link {
      color: $primary-red;
      font-weight: 600;

      &:active,
      &:hover,
      &:visited {
        text-decoration: none;
        color: $primary-red;
      }
    }
  }
}
