.profile__container {
  width: 80%;
  padding-left: 3rem;
  position: absolute;
  top: 5%;

  @include respond(tab-port) {
    width: 60%;
  }

  @include respond(desktop) {
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    background-color: rgba(99, 98, 98, 0.05);
    box-shadow: 0 1rem 1rem rgba(0,0,0, .1);
    padding: 2rem;
  }
}

.flaticon-javascript::before,
.flaticon-css::before, 
.flaticon-html::before,
.flaticon-py::before,
.flaticon-sql::before,
.flaticon-php::before {
  font-size: 4.5rem !important;
  color: $primary-red;
  margin: 0 !important;
}

.check__container {
  display: flex;
  flex-direction: column-reverse;
  align-items:center;
  justify-content: center;
}

.check__group {
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
}

.fa-upload {
  font-size: 2rem;
  align-self: center;
}

.fa-upload-red {
  color: $primary-red;
  cursor: pointer;
  font-size: 2rem;
  align-self: center;
}

.fa-check-circle {
  font-size: 2rem;
  align-self: center;
  color: $primary-green;
}
