.login__container {
  width: 100vw;
  height:100vh;
  position:relative;
}


.heading__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  width:60%
}

.login__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  // width: 40vw;
  height: 29.1vh;
  margin: 0 auto;
  position:absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form {
  margin: 0 auto;
  &__group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &__input {
    font-size: 1.15rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    border: none;
    background-color: rgb(225, 225, 225);
    font-family: inherit;
    color: inherit;
    display: block;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
      border-bottom: 3px solid $primary-red;
    }

    &:focus:invalid {
      border-bottom: 3px solid green;
    }

    &::-webkit-input-placeholder {
      color: rgb(46, 46, 46);
    }
  
  }

  &__label {
    font-size: .9rem;
    font-weight: 700;
    text-align: left;
    margin-top: .4rem;
    display: block;
    transition: all .3s;
    color: $primary-red;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem)
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $primary-red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.4rem;
    left: 0;

    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary-red;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
