.button__primary {
  all: unset;
  color: $primary-red;
  text-decoration: none;
  padding: .3rem;
  font-family: 'Poppins';
  font-size: 1.5rem;
  border-bottom: 1px solid $primary-red;
  
  &:hover {
    border-bottom: 1px solid $primary-grey;
  }
}
