.form {

  &__group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &__image__input {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    font-size: 1.15rem;
    padding: .3rem .8rem;
    border-radius: 2px;
    border: none;
    background-color: rgb(225, 225, 225);
    font-family: inherit;
    color: inherit;
    display: block;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    &-profile{
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
      border-bottom: 3px solid $primary-green;
    }

    &:focus:invalid {
      border-bottom: 3px solid $primary-red;
    }

    &::-webkit-input-placeholder {
      color: rgb(46, 46, 46);
    }
  
  }

  &__label {
    font-size: .9rem;
    font-weight: 700;
    text-align: left;
    margin-top: .4rem;
    padding-left: .8rem;
    display: block;
    transition: all .3s;
    color: $primary-grey;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem)
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: 1.15rem;
    cursor: pointer;
    position: relative;
    padding-left: 2.4rem;
    color: $primary-grey
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 3px solid $primary-red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.4rem;
    left: 0;
    margin-top: .4rem;

    &::after {
      content: '';
      display: block;
      height: .7rem;
      width: .7rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $primary-red;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}

.radio__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem !important;
}
