.modal {

  &__body {
  height: 70rem;
  background: linear-gradient(to right top, $light-primary-blue, $dark-primary-blue);
  border: 1px solid $light-primary-blue;
  }

  &__close {
    color: $primary-red;
    font-size: 1.8rem;
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  &__heading {
    color: $primary-red;
    font-weight: 600;
    font-family: 'Poppins';
  }

  &__subheading {
    color: $primary-red;
    font-weight: 400;
    font-size: 1.7rem;
    font-family: 'Poppins';
  }

  &__content {

    &--title {
      font-weight: 600;
      color: $primary-red;
      margin-right: .75rem;
    }
  }

  &__bennies {
    display: flex;
  }
}


.listing {
  &__section {
    
    &--company{
      margin-top: 5rem;
    }

    &--job {
      margin-top: 3rem;
    }

    &--seeker{
      margin-top: 2.5rem;
    }
  }
}

.tech__container {
  display: flex;
  flex-wrap: wrap;
}

.github__action {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;

  &--item {
    color: $primary-grey;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Poppins';
    overflow: hidden;
    margin-bottom: 0;
    padding: .3rem;
  }

  &:nth-child(odd) {
    background-color: rgba($dark-primary-blue, .5)
  }
}
