// COLORS

$light-primary-blue: #333d77;
$medium-primary-blue: #0b192e;
$dark-primary-blue: #001431;
$primary-red: #F05454;
$primary-grey: #d3d3d3;
$primary-green:  rgb(0, 187, 0);


// UTILS

.mbs { margin-bottom: .5rem; }
.mbm { margin-bottom: 1rem; }
.mbl { margin-bottom: 1.5rem ; }

.mts { margin-top: .5rem; }
.mtm { margin-top: 1rem; }
.mtl { margin-top: 1.5rem !important; }

.mrs {margin-right: 1rem;}
.mrl {margin-right: 4rem;}
